av
eva_decord
deepspeed
einops
ftfy
fvcore
imageio
lm_eval
numpy
omegaconf
opencv_python
packaging
pandas
Pillow
pytest
PyYAML
regex
Requests
scipy
setuptools
scikit-image
submitit
tensorboardX
tensorflow
termcolor
timm
torch
torchvision
tqdm
transformers
wandb
wheel
xformers
